*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
img{
  max-width: 100%;
}

nav{
  padding: 1.2rem 2.3rem ;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
}

.hero {
  text-align: center;
  padding: 2.5rem 2.3rem ;
  
}

.hero-text{
  text-align: left;
  margin-top: 2rem;
  width: 65%;
}

.hero-text h1{
  margin-bottom: .8rem;
}

.card-section{
  padding: 2.5rem 2.3rem ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  overflow-x: scroll;
  max-width: 930px;
}
.card{
  flex: 0 0 auto;
  
}
.card > img{
  margin-bottom: 10px;
}
.card-info{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.rating-country span {
  padding: 3px;

}
.star img {
  width: 15px;
}
.country{
  color:#918E9B;
}
.price p span{
  font-weight: bold;
}
