*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.container{
  background-color:#918E9B;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 6rem;
  
}
.header-image {
  background-color: #1A1B21;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.header-image img{
  width: 370px;
}

.main-content{
  width: 370px;
  
}
.main-info{
  background-color: #1A1B21;
  text-align: center;
  padding: .7rem 2.3rem;
  color: #F5F5F5;
}
.name h1{
  color: #FFFFFF;
  font-size: 2rem;
  margin-top: 1rem;
}
.name h3{
  color: #F3BF99;
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: .7rem;
}
.name p{
  font-size: .9rem;
  font-weight: lighter;
}
.socials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  margin: 1rem 0 2rem;
}
.socials > a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  background-color: white;
  padding: .5rem 2rem;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}
.socials > a h3{
  font-size: 1rem;
  font-weight: 400;
  
}
#linkedin{
  background-color: #5093E2;
  color: white;
}
.about-interest{
  text-align: left;
  
}
.about-interest > div{
  margin-bottom: 2rem;
}
.about-interest h2{
  margin-bottom: .4rem;
}
.about-interest p{
  font-size: .9rem;
  font-weight: lighter;
  line-height: 1.3rem;
}
footer{
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  gap: 2rem;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}