*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}



nav{
  background-color: #F55A5A;
  color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  padding: 1.4rem 0;
}
nav h3{
  font-size: 1.2rem;
  font-weight: 300;
}
.location{
  display: flex;
  gap: 1.7rem;
  margin-bottom: 2.5rem;
  padding: 1.8rem;
}
.location img{
  width: 150px;
}
.main{
  padding: 4rem 2.5rem;

}
.main > div:not(:last-child){
  border-bottom: 1px solid #F5F5F5;
  
}

.info{
  max-width: 500px;
  
  padding: 1.2rem 0;
}
.country-link{
  display: flex;
  gap: .8rem;
  margin-bottom: .5rem;
}
.country-link > span{
  display: flex;
  align-items: center;
  gap: .4rem;
}
.country-link > span h4{
  font-weight: 400;
  font-size: .7rem;
  letter-spacing: 2px;
}
.country-link > span img{
  width: 9px;
}
.country-link a{
  color: #918E9B;
  font-weight: 300;
  font-size: .8rem;
}

.landmark{
  font-weight: bolder;
  font-size: 1.75rem;
  margin-bottom: 1.3rem;
  color: #2B283A;
}

.date{
  font-size: .8rem;
  margin-bottom: .7rem;
  color: #2B283A;
}

.description{
  font-size: .8rem;
  color: #2B283A;
  line-height: 1.3rem;
}